{% extends 'base.html' %} 
{% include 'navigation.html' %}
{% block container %}
<div class="container has-text-centered">
                    <div class="column is-6 is-offset-3 intro">
                        <h1 class="title">
                            Our Car Talogs
                        </h1>
                            <div>
                                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                                <p>{{ message }}</p>
                                {% endfor %} {% endif %} {% endwith %}
                            </div>

                        <a class="button is-medium is-primary" href="{{url_for('newCategory')}}">Create New Category</a>
                    </div>
</div>
<div class="container">
        <div class="section">        
            <div class="row columns is-multiline">
                {% for i in categories %}
                <div class="column is-4">
                    <div class="card">
                        <a href="{{url_for('showItems', category_id=i.id)}}">
                        <div class="card-image">
                            <figure class="image">
                                <img alt="{{i.name}}" src="{{i.picture}}">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <a href="{{url_for('showItems', category_id=i.id)}}">{{i.name}}</a>
                            <div class="buttons has-addons">
                              <a href="{{url_for('editCategory', category_id=i.id)}}"><span class="button is-success">Edit Item</span></a>
                              <a href="{{url_for('deleteCategory', category_id=i.id)}}"><span class="button is-danger ">Delete Item</span></a>
                            </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}